/*
font-family: 'Cabin', sans-serif;
font-family: 'Shrikhand', serif;
*/


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  overflow: hidden;
}

canvas {
  pointer-events: none;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.button-container {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1rem;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}

.button-container.show {
  opacity: 1;
  pointer-events: auto;
}

.button-container button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.button-container button:hover {
  background: rgba(255, 255, 255, 0.4);
}


.button-container button:active {
  background: rgba(255, 255, 255, 0.6);
}