/*
font-family: 'Cabin', sans-serif;
font-family: 'Shrikhand', serif;
*/


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  overflow: hidden;
}

.name-container {
  position: absolute;
  top: 96%;
  left: 12%;
  transform: translate(-50%, -50%);
  color: hsla(260, 10%, 25%, 0);
  pointer-events: none;
}

h1 {
  text-align: center;
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  font-size: clamp(1rem, -0.875rem + 8.333333vw, 3.5rem);
  margin: 0;
}